In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bank-customer-churn-prediction/Churn_Modelling.csv

In [2]:
df = pd.read_csv("/kaggle/input/bank-customer-churn-prediction/Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
df = df.drop(columns=['CustomerId','Surname','RowNumber'])

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df = pd.get_dummies(df, columns=['Geography','Gender'],drop_first=True)

### Spliting data and Scaling

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = df.drop(columns=['Exited'])

In [13]:
y = df[['Exited']]

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 42,test_size=0.2)

In [15]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)

In [27]:
X_test_scaled = scaler.transform(X_test)

In [28]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [42]:
model = Sequential()

model.add(Dense(4,activation="relu",input_dim=11))
model.add(Dense(1,activation="sigmoid"))

In [43]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 4)                 48
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 5
=================================================================
Total params: 53
Trainable params: 53
Non-trainable params: 0
_________________________________________________________________

In [44]:
model.compile(loss="binary_crossentropy",optimizer="Adam")

In [45]:
model.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 1ms/step - loss: 0.6431
Epoch 2/50
250/250 [==============================] - 0s 1ms/step - loss: 0.5122
Epoch 3/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4794
Epoch 4/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4624
Epoch 5/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4491
Epoch 6/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4365
Epoch 7/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4247
Epoch 8/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4139
Epoch 9/50
250/250 [==============================] - 0s 1ms/step - loss: 0.4042
Epoch 10/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3958
Epoch 11/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3882
Epoch 12/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3814
Epoch 13/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3753
Epoch 14/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3703
Epoch 15/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3661
Epoch 16/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3628
Epoch 17/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3602
Epoch 18/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3582
Epoch 19/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3564
Epoch 20/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3546
Epoch 21/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3532
Epoch 22/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3520
Epoch 23/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3509
Epoch 24/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3500
Epoch 25/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3490
Epoch 26/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3484
Epoch 27/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3477
Epoch 28/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3471
Epoch 29/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3468
Epoch 30/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3463
Epoch 31/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3461
Epoch 32/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3455
Epoch 33/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3454
Epoch 34/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3451
Epoch 35/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3448
Epoch 36/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3447
Epoch 37/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3445
Epoch 38/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3443
Epoch 39/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3440
Epoch 40/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3439
Epoch 41/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3438
Epoch 42/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3436
Epoch 43/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3436
Epoch 44/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3433
Epoch 45/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3433
Epoch 46/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3430
Epoch 47/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3428
Epoch 48/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3429
Epoch 49/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3428
Epoch 50/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3427

In [46]:
y_log = model.predict(X_test_scaled)

In [47]:
y_pred = np.where(y_log>0.5,1,0)

In [40]:
from sklearn.metrics import accuracy_score

In [48]:
accuracy_score(y_test,y_pred)

0.86